@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import "../../node_modules/@fortawesome/fontawesome-free/css/fontawesome.min.css";
@import "../../node_modules/@fortawesome/fontawesome-free/css/solid.min.css";
@import "../../node_modules/@fortawesome/fontawesome-free/css/brands.min.css";

*:not(.fas) {
    font-family: "Cairo", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif,
        sans-serif, Arial;
    font-size: 0.96rem;
}

@layer utilities {
    .indent-1 {
        text-indent: .5rem;
    }
}

a {
    @apply cursor-pointer;
}

.alert {
    @apply py-3 px-4 font-semibold mx-auto rounded shadow; 
}

.alert-danger {
    @apply bg-red-300 text-red-800;
}

.alert-success {
    @apply bg-green-300 text-green-800;
}

.form-input {
    @apply bg-transparent border border-gray-600;
}

.form-input:focus {
    @apply bg-gray-700 shadow-outline-green text-black font-semibold border-green-400;
}

.form-input:invalid {
    @apply shadow-outline-red border-red-500 text-red-700;
}